@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');
* {
    /* Definimos a margem como 0*/
    margin: 0;
    /* Definimos */
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    /* ele vai ter 2 propriedades, como fosse um bloco */
    display: inline-block;
    /* criar uma margin no topo do elemento */
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon__image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon__data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon__name {
    color: #3a444d;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input__search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600px;
}